p{color:yellow;}

* {
	font-family:"Arial", monospace;
	font-size: 20px;
}

h1 {font-size: 2rem;}

h2 {text-transform: uppercase;
	} 


.offering-item {background-color: skyblue;}

li[id]
	{
	border-width: 1px;
	border-style: solid;
	border-color: blue;
	width: 100%;

	}

ul{list-style-type:none;}

h4 + img {
	height: 200px;
	width: 200px;
	border-radius: 100px;
}

ul~p{text-align: center;}
	 
body>section>ul>li{
	letter-spacing: 0.5rem;
	}
